header {
  color:white;
  font-size: 50px;
  text-align:center;
  position: relative;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.664);
  width: 700px;
  padding: 20px;
  left: 20px
}

.bandPictures {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    width: 100%;
    
    
}

.backgroundPhoto {
    background-image: url(https://images.squarespace-cdn.com/content/v1/56ffbeec4d088e7781fce601/1548908905262-ZIOVE9PTJBIZP2E1BEBJ/Red+Rocks+Lakewood+campus+beginning+of+service++stage+lighting+2);
    /* z-index: -15; */
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
 
}


#Walker{
  background-color: rgba(3, 3, 3, 0.822);
border: 2px solid black; 
padding: 5px;
box-sizing:border-box;
/* margin: 20px; */
position:relative;
left: -15px;
height: 300px;
width: 300px;
top: 280px;
box-shadow: 3px 3px 3px 3px rgba(34, 34, 33, 0.644);
/* border-radius: 10px; */
}

.jarrodContainer {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
  /* Make the image to responsive */
  .walkerPhoto {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlayJarrod {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    left: 40px;
    bottom: -275px;
    
  }
  
  
  .jarrodContainer:hover .overlayJarrod {
    opacity: 1;
  }




#Masot{
  background-color: rgba(3, 3, 3, 0.904);
border: 2px solid black;
padding: 5px;
box-sizing:border-box;
/* margin: 40px; */
position: relative;
height: 300px;
width: 300px;
top: 280px;
left: -18px;
box-shadow: 3px 3px 3px 3px rgba(34, 34, 33, 0.644);
}


.royalContainer {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
  /* Make the image to responsive */
  .masotPhoto {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlayRoyal {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    left: 60px;
    bottom: -275px;
  }
  
  .royalContainer:hover .overlayRoyal {
    opacity: 1;
  }


#Strings{
  background-color: rgba(3, 3, 3, 0.952);
  border: 2px solid rgba(5, 5, 5, 0.534);
padding: 5px;
box-sizing:border-box;
/* margin: 40px; */
height: 300px;
width: 300px;
position: relative;
left: -16px;
top: 280px;
box-shadow: 5px 5px 5px 5px;
box-shadow: 3px 3px 3px 3px rgba(34, 34, 33, 0.644);

}


.stringsContainer {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
  /* Make the image to responsive */
  .stringsPhoto {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlayStrings {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    left: 60px;
    bottom: -275px;
  }
  
  
  .stringsContainer:hover .overlayStrings {
    opacity: 1;
  }

#Failing{
background-color: rgba(3, 3, 3, 0.822);
border: 2px solid rgba(3, 3, 3, 0.534);
padding: 5px;
box-sizing:border-box;
/* margin: 40px; */
position: relative;
right: 10px;
top: 280px;
height: 300px;
width: 300px;
box-shadow: 3px 3px 3px 3px rgba(34, 34, 33, 0.644);
}


.failingContainer {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
  /* Make the image to responsive */
  .failingPhoto {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlayFailing {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    left: 50px;
    bottom: -275px;
  }
  
  
  .failingContainer:hover .overlayFailing {
    opacity: 1;
  }




  h2 {
    position: relative;
    bottom: 340px;
    left: 300px; 
    background-color: rgba(248, 241, 241, 0.411);
    width: 790px;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    font-size: 29px;
    font-family:Helvetica;
    padding: 10px
    
  }

 
  /* .boxthing{
    background-color: black;
    height: 20px;
    width: 400px;
    z-index: 6
  } */


  /* .socials{
    height: 280px;
    width: 280px;
    position: relative;
    top: 90px;
    z-index: 10
  } */

  /* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 35px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -410px;
  left: 1105px
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-instagram {
  background: #125688;
  color: white;
  
}

.fa-youtube {
  background: #fa0404;
  color: white;
}


.fa {
  padding: 20px;
  font-size: 35px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}