/* body{
        background-image: url(https://images.unsplash.com/photo-1521052313888-1181c2f5f406?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBmbG9yYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
        z-index: -5;
        height: 100vh;
        
} */
/* ol {
    display:flex;
    justify-content: space-evenly;
    margin: 40px;
  }

a {
    font-size: 25px;
    color:tomato;
}  */

body {
    background-color: black;
}

.sidepanel {
    height: 250px; 
    width: 0px;
    position: fixed;
    z-index: 2; 
    top: 5px;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 0px;
  }
  
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: relative;
    top: 50px;
    left: 60px;
    border-radius: 4px;
    z-index:1
  }
  
  .openbtn:hover {
    background-color: #444;
  }



#imgOne {
    z-index: -5;
    height: 100vh;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    position: relative;
    left: 450px;
    top: -360px
}

header {
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 30px;
    position: relative;
    top: -970px;
}
 

.twoSoloVideos {
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
    margin:30px;
    position: relative;
    top: -780px;
}

#soloUno{
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.327);
}

#soloTwo{
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.327);
}

#borderBottom {
    border-top: 3px double #8a8383;
    position: relative;
    top: -355px;
    bottom: 0px;
    width: 775px;
  }

  #borderBottomTwo {
    border-top: 3px double #8a8383;
    position: relative;
    top: -155px;
    bottom: 0px;
    width: 775px;
  }



.uploadSoloContainer{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 50px;
  
    
}
form {
    width: 350px;
    min-height: 280px;
    background-color: rgba(211, 153, 208, 0.781);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    /* margin: 100px; */
    border: rgb(247, 247, 250) 1px solid;
    left: 520px;
    top: -460px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.616);
  }



  h2{
    color:rgb(185, 178, 165);
    position: relative;
    bottom: 1150px;
    width: 1000px;
    left: 178px;
    /* background-color: white; */
    padding: 20px;
    text-align: center;
    font-size: 26px;
    }


h3 {
    color: rgb(207, 183, 183);
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -490px;
    background-color: rgba(112, 104, 104, 0.315);
    padding: 20px;
    border: black;
    border-radius: 10px;
    width:900px;
    left: 225px;
    z-index: 10
    
}
input[type='text'] {
    
    height: 30px;
    border: none;
    border-bottom: 2px solid #0703f5;
    color: #070707;
    background-color: snow;
    border-radius: 2px
  }
/* input{
    width: 85px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #e4dede;
    background-color: rgb(57, 105, 168);
    text-align: center;
    margin: 20px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 15.5px;
} */

/* input[type='text']{
    color:white
} */


#jarrodSubmitButton {
    background-color: #e9e1ec;
    width: 126px;
    height: 30px;
    color: rgb(4, 5, 5);
    border: none;
    margin: 20px;
    border-radius: 6px;
    font-size: 16px;
    z-index: 5
}


.soloEntry {
    display: flex;
    justify-content: flex-end;
    text-align: center;
/* whenever I edit the position here, the ability to click inside the textbox goes away */
    
}

/* #bigBoxAroundText {
    background-color: rgba(231, 208, 79, 0.733);
    border: 2px solid black;
    padding: 75px;
    box-sizing:border-box;
    margin: 12px;
    height: 315px;
    width: 560px;
    position: relative;
    right: 85px;
    bottom: 410px;
    
} */


#deleteSoloButton {
    background-color: rgb(5, 5, 5);
    color: rgb(3, 3, 5);
    position: relative;
    top: -100px;
    left: -520px
}
.jarrodSolo{
    background-color: rgb(199, 200, 207);
    width: 375px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -10px;
}



#soloForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 90, 155, 0.438);
    border: 2px solid black;
    padding: 10px;
    box-sizing:border-box;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    left: 310px;
    bottom: 580px;
    width: 750px;
    z-index: 5
}
   
    left: 200px;


.jarrod-solo{
    height: 100px ;
    width: 100px;
    color: rgb(240, 234, 234);
}


#radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

/* #submitButton{
    color: white;
    font-size: 18px;
    background-color: rgb(39, 124, 124);
    border-radius: 10px;
    padding: 3px;
    z-index: 8
} */

#radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#submitButton{
    color: rgb(5, 5, 5);
    font-size: 15px;
    background-color: rgb(248, 250, 250);
    border-radius: 6px;
    padding: 1px;
}




.containerFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#radio-containerEntry {
    position: relative;
    bottom: 1100px;
    width: 600px;
    left: 300px;
    
}

#submitButtonEntry{
    color: rgb(8, 8, 8);
    font-size: 18px;
    background-color: rgb(250, 246, 249);
    border-radius: 10px;
    padding: 1px;
    z-index:10;
    /* position: relative;
    bottom: 150px; */
}


#radio-containerEntryTwo {
    color: white;
    position: relative;
    top: 390px;
    width: 500px;
    right: 10px;
    
}

#submitButtonEntryTwo{
    color: rgb(8, 8, 8);
    font-size: 18px;
    background-color: rgb(247, 252, 252);
    border-radius: 10px;
    padding: 1px;
}

#radio-containerEntryThree {
    color: rgb(250, 246, 246);
    position: relative;
    bottom: 860px;
    width: 500px;
    right: 10px;
}

#submitButtonEntryThree{
    color: rgb(8, 8, 8);
    font-size: 18px;
    background-color: rgb(247, 252, 252);
    border-radius: 10px;
    padding: 1px;
}


.solo-title{
    color:white;
    font-size: 20px;
    text-decoration: underline
}

/* .soloSubmit {

} */




.images {
    display: flex;
  
}

#imgTwo {
  position: relative;
  top: -1300px;
    right: 810px;
}

#imgThree {
  position: relative;
  top: -1300px;
    right:190px;
    transform:scaleX(-1)

}